<!Display Transaction History>

{%extends "webapp/index.html"%}
{% block body_block %}
<h4>Filter by Name</h4>
<form method="POST" class="post-form">
  {% csrf_token %}

    {{ transact_history.as_p}}

        <button type='Submit' class="save btn btn-default">Search</button>
</form>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>Transaction History</h1>
{% if user.is_authenticated %}
<h3>Your net balance with {{person_n}} is {{famount}}</h3>
<button type='Submit' class="save btn btn-default" onClick="location.href='{% url 'nullify'%}'">Nullify</button>


<div class="row">
  <div class="col-md-12">

    <table>
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Date</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>

        {% for i in datah %}

          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.date}}</td>
            <td>{{i.person2}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.reason}}</td>
            </tr>
            {%endfor%}

            {% for i in dataopp %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.date}}</td>
                <td>{{i.person1}}</td>
                <td>-{{i.amount}}</td>
                <td>{{i.reason}}</td>
              </tr>
            {%endfor%}



      </tbody>
    </table>

  </div>
</div>

{%else%}
<h4>Login to view history</h4>
{% endif %}


{% endblock %}
