{% extends "webapp/base.html" %}
{% block body_block %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=PT+Serif:ital@0;1&display=swap');

body{

  background-image: url('{{ STATIC_URL }}static/pics/background.JPG');
  color: #FDFEFE;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



#main-header {
  font-family: 'PT Serif', sans-serif;

}
</style>
    <h1 id="main-header" style="text-align:center; font-size: 100px";>SPLITWISE</h1>
    <br></br>

    {% if user.is_authenticated %}

        <h2 style="text-align:center">Welcome {{ user.username }} to your homepage!</h2>
        <br></br>
        <h3>Transaction Details:</h3>
        <div class="row">
          <div class="col-md-12">

            <table>
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for i in datap %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.person2}}</td>
                    <td>{{i.amount}}</td>
                  </tr>
                {%endfor%}
                {% for i in dataopp %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.person1}}</td>
                    <td>-{{i.amount}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

    {% else %}
        <h2 style="text-align:center">Welcome to the site!</h2>
    {% endif %}


{% endblock %}
