{% extends "webapp/base.html" %}
{% block body_block %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=PT+Serif:ital@0;1&display=swap');

body{

  background-image: url('{{ STATIC_URL }}static/pics/741514.JPG');
  color: #FDFEFE;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



#main-header {
  font-family: 'PT Serif', sans-serif;

}
</style>
    <h1 id="main-header" style="text-align:center; font-size: 70px";>SPLITWISE</h1>


    {% if user.is_authenticated %}

        <h2 style="text-align:center">Welcome {{ user.username }} to your homepage!</h2>
        <br></br>
        <h3>Transaction Details:</h3>
        <div class="row">
          <div class="col-md-12">

            <table>
              <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for i in datap %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.person2}}</td>
                    <td>{{i.amount}}</td>
                  </tr>
                {%endfor%}
                {% for i in dataopp %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.person1}}</td>
                    <td>-{{i.amount}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>

    {% else %}
        <h2 style="text-align:center">Welcome to the site!</h2>
        <p>
        Greetings from the Splitwise Team,
        </p>
        <p>
        Ever had to face the difficulty of splitting bills while at dinner?
        </p>
        <p>
        Worry no more, on the Splitwise webapp, you and your friends can signup for free and split bills on the go.
        </p>
        <p>
        All transactions are stored and calculations are done within the app.
        </p>
        <p>
        Our highlight feature is Settle. It automatically readjusts the amounts amongst your friends and settles the amounts.
        </p>
        <p>
        For Example-
        <div> If A B C are three friends</div>
      </p>
      <p>

      </p>
      <p>
        A owes B 100 dollars
      </p>
      <p>
        B owes C 100 dollars
        </p>
        <p>
        Then within a click our proprietary algorithm adjusts these amounts such that A now will owe C 100 dollars
        </p>
        <p>
        Note: This works only if all the parties are part of each others friends list
      </p>
      <p>
              Amounts being settled have to be exact.
            </p>
        <p>

        Sign Up to Get Started!
        </p>
    {% endif %}


{% endblock %}
