{% extends "webapp/base.html" %}



{% block body_block %}
<style>

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif:ital@0;1&display=swap');
  .bg-img {
  /* The image used */
    background-image: url('../../static/pics/741514.jpg');
    color: whitesmoke
  }

  body{
    background-image: url('../../static/pics/741514.jpg');
    color: #FDFEFE;

  }

  #main-header{
    font-family: 'PT Serif', sans-serif;
  }

  #body_info{
    font-family: 'PT Sans', sans-serif;
  }

  #save{
    margin-top: 20px;
    background-color: white;
    color: black;
    border: 2px solid #AED6F1 ;
    transition-duration: 0.4s;
  }

  #save:hover{
    background-color: #AED6F1 ;
    color: black;
  }

  .signup{
    color:white
  }

</style>
<body>
<div class="bg-img">
      {% if registered %}
        <h1 id="main-header"  style="text-align:center; font-size: 30px; color: wheat;";>Thank you for registering!</h1>
      {% else %}
        <h1 id="main-header"  style="text-align:center; font-size: 30px; color: wheat;";>Register Here</h1>
        <br></br>
        <h3 id="body_info">Fill out the form.</h3>
        <body>

        <form enctype="multipart/form-data" class="signup" method="POST" style="font-family: 'PT Sans', sans-serif;background-image: url('{{ STATIC_URL }}static/pics/background.JPG');">
          {% csrf_token %}
          {{ user_form.as_p }}
          <!{{ profile_form.as_p }}>

          <input type="submit" name="" value="Register" id="save">

        </form>
        </body>
      {% endif %}
</div>
</body>
{% endblock %}
